.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 1.75rem;
  align-items: center;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.container > * {
  cursor: pointer;
}

.pref {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: rgba(238, 242, 255, 0.6);
  border: none;
  border-radius: 5px;
}

.pref:hover {
  background-color: rgb(224, 231, 255);
}

.settings {
  margin-right: 0.6rem;
  font-size: 16px;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: rgb(224, 231, 255);
  color: #4338ca;
}

.btn:hover {
  background-color: rgb(213, 222, 252);
}

img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

img:hover {
  border: 1px solid lightblue;
}

.title2 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2rem;
}

.table {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  border: 1px solid lightgray;
  width: 100%;
}

th,
td {
  height: 3.5rem;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 300;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-item {
  font-size: 16px;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.paid {
  background-color: rgb(178, 209, 178);
}

.outstanding {
  background-color: lightgray;
}

.sent {
  background-color: lightcoral;
}

select {
  background-color: rgb(39, 80, 60);
  color: white;
  border: none;
  font-size: 16px;
  height: 80%;
  padding: 5px 15px;
}

.verifyEmail{
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.title2{
  margin: 1rem 0;
}